<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="~/css/style.css" />
<script src="~/js/script.js"></script>

<body>

    <div class="header" style="color: rgba(131,2,2,255);">Student <text style="color: rgba(0,0,0,255);"> Board </text></div>

        <nav>
            <ul>
                <li>
                    <a href="Homepage" class="icon-align">
                        <img src="Icons\homepage.png" alt="Homepage icon" class="icon">
                        Homepage
                    </a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="TimeSheets" class="icon-align">
                        <img src="Icons\Timesheets.png" alt="Timesheets icon" class="icon">
                        Timesheets
                    </a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="Notifications" class="icon-align">
                        <img src="Icons\Notification.png" alt="Notification icon" class="icon">
                        Notifications
                    </a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="Profile" class="icon-align">
                        <img src="Icons\contact.png" alt="Profile icon" class="icon">
                        Profile
                    </a>
                </li>
            </ul>

            <button class="transparent-button" onclick="window.location.reload();">
                <img src="Icons\reload.png" alt="Refresh" height="30">
            </button>

        </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <text style="padding-left: 2%;"> Campus </text> <text style="float: right; padding-right: 2%;"> Copyright 2025 </text>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
