@{
    ViewData["Title"] = "Homepage";
}

<body>

    <div style="display: flex; justify-content: center; align-items: center; height: 65vh; gap: 20px;">

        <img src="Icons/Welcome.png" alt="Welcome" style="width: 250px; height: auto;">

        <img src="Icons/StudentBoard.avif" alt="" style="border-radius: 50px;">

        <div style="font-size: 24px;"> to the <b><span style="color: rgba(131,2,2,255);">Student</span> <span style="color: rgba(0,0,0,255);">Board</span></b> </div>

    </div>

</body>